<div class="container-fluid">
    <div class="row">

        <div class="col-md-4 hidden-sm-down position-sticky" id="map_container">
            <div id="map"
              style="width: 100%; height: 500px; margin-top: 20px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>

        <div class="col-md-8 col-sm-12 right_box">

            <div class="row heading mt-4 ml-2 d-flex justify-content-between align-items-center">
              <h1>All our Video Games</h1>
              <div class="d-flex">
                <div>
                  <%= form_tag games_path, method: :get do %>
                    <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Find a game"
                    %>
                </div>
                <div class ="ml-auto">
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                </div>
                <% end %>
              </div>

            </div>

          <div class="container vertical-scrollable">
            <div class="row" >
              <% @games.each do |game| %>
                <div class="col-4">
                  <div class="game-card">
                    <div class="game-card-image" style="background-image: url('<%= cl_image_path game.image.key, crop: :fill %>')"></div>
                    <div class="game-card-content d-flex flex-column  justify-content-between ">
                      <h5 class="p-2"><%= game.title %></h4>
                      <p class="p-2"><%= game.user.address %></p>
                      <div class="d-flex justify-content-between pr-2 pl-2">
                        <div>
                          <span><%= game.platform %></span>
                        </div>
                        <div>
                          <b class="mr-2">CHF</b> <%= game.price_per_day %>
                        </div>
                      </div>
                    </div>
                    <div class="game-card-actions d-flex justify-content-between">
                      <%= link_to 'More info', game_path(game) %>
                      <div class="flex-align">
                        <% if game.available %>
                          <img class="vu" src="https://s3.gaming-cdn.com/themes/igv1/modules/product/images/ticked2.png"> Available
                        <% else %>
                          <img class="vu" src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465_1280.png"> Unavailable
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div><!-- col-md-8 right_box -->
      </div><!-- row -->
    </div>

</div><!-- container-fluid -->
