<div class="container-fluid m-2">
    <div class="row d-flex justify-content-center full-height">

        <div class="col-lg-4 hidden-sm-down" id="map_container">
            <div id="map"
              class="position-sticky"
              style="width: 100%; height: 95%; margin-top: 7px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>

        <div class="col-lg-7 right_box">

            <div class="row heading mt-4 ml-2 d-flex justify-content-between align-items-center">
              <h1>All Our Video Games</h1>
              <div>
                <%= form_tag games_path, method: :get, class:"d-flex" do %>
                  <div class="mr-1">
                      <%= text_field_tag :query,
                        params[:query],
                        class: "form-control",
                        placeholder: "Find a game"
                      %>
                  </div>
                <div class ="ml-auto">
                  <%= submit_tag "Search", class: "btn btn-primary btn-gs font-weight-light" %>
                </div>
                <% end %>
              </div>

            </div>

          <div class="container vertical-scrollable">
            <div class="row" >
              <% @games.each do |game| %>
                <div class="col-4">
                  <div class="game-card">
                    <div class="game-card-image" style="background-image: url('<%= cl_image_path game.image.key, crop: :fill %>')"></div>
                    <div class="game-card-content d-flex flex-column  justify-content-between p-2">
                      <h5><%= game.title %></h4>
                      <p><%= game.user.address %></p>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span><%= game.platform %></span>
                        </div>
                        <div>
                          <b class="mr-2">CHF</b> <%= game.price_per_day %>
                        </div>
                      </div>
                    </div>
                    <div class="game-card-actions d-flex justify-content-between">
                      <span class="link"><%= link_to 'More info', game_path(game) %></span>
                      <div class="flex-align">
                        <% if game.available %>
                          <img class="vu" src="https://s3.gaming-cdn.com/themes/igv1/modules/product/images/ticked2.png"> Available
                        <% else %>
                          <img class="vu" src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465_1280.png"> Unavailable
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div><!-- col-md-8 right_box -->
      </div><!-- row -->
    </div>

</div><!-- container-fluid -->
