<body>
  <div id="ig-product-main-panel">
    <div class="wrapper">
      <div class="product">
        <div class="blur">
          <img class="background" src="https://s3.gaming-cdn.com/images/products/2198/271x377/jeu-steam-hollow-knight-cover.jpg" alt="Hollow Knight background" title="Hollow Knight background">
        </div>
        <div class="games_infos">
          <div class="name">
            <h1>
              <%= @game.title %>
            </h1>
          </div>
          <div class="subinfos">
            <div class="platforms">
              <%= @game.platform %>
            </div>
            <div class="category">
              <%= @game.category %>
            </div>
            <div class="release_year">
              <%= @game.release_year%>
            </div>
            <div class="price">
              <%= @game.price_per_day %> CHF per day
            </div>
            <div class="disponibility">
              <img class="vu" src="https://s3.gaming-cdn.com/themes/igv1/modules/product/images/ticked2.png">Disponible
            </div>
            <div class="btn">
              <a href="">Rent</a>
            </div>
          </div>
          <div class="game_description">
            <%= @game.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
