<body>
  <div id="ig-product-main-panel">
    <div class="wrapper">
    <div class="correction"></div>
      <div class="product">
        <div class="blur d-flex align-items-center">
          <%= cl_image_tag @game.image.key, crop: :fill, class:'product-image' %>
        </div>
        <div class="card">
          <div class="games_infos h-75">
            <div class="name">
              <h1>
                <%= @game.title %>
              </h1>
            </div>
            <div class="subinfos">
              <div class="platforms">
                <%= @game.platform %>
              </div>
              <div class="category">
                <%= @game.category %>
              </div>
              <div class="release_year">
                <%= @game.release_year%>
              </div>
              <div class="disponibility">
                <% if @game.available %>
                  <img class="vu" src="https://s3.gaming-cdn.com/themes/igv1/modules/product/images/ticked2.png">Available
                <% else %>
                  <img class="vu" src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465_1280.png">Unavailable
                <% end %>
              </div>
            </div>
            <div class="game_description">
              <%= @game.description %>
            </div>
            <div class="rent">
              <div class="rent_price">
                Price: <%= @game.price_per_day %> € per day
              </div>
              <div class="rent_btn">
                <a href="">Rent</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="back text-center">
      <%= link_to 'Back to the list', games_path, class:'btn-flat' %>
    </div>
  </div>
</body>
</html>
